<nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="introduction.html">Introduction</a></li>
    <li><a href="contract.html">Contract</a></li>
    <li><a href="../">Back</a></li>
  </ul>
</nav>
<hr>
<nav>
  <ul>
    <li><a href="daring-mamba/index.html">Daring Mamba</a></li>
    <li><a href="stuff/My Crappy WebPage :).htm">Crappy WebPage</a></li>
    <li><a href="website_evaluations.html" target="_blank">Website Evaluations</a></li>
    <li><a href="fccfsjs_outline.html">Outline</a></li>
    <li><a href="intro_form.html" target="_blank">Introduction Form</a></li>
    <li><a href="project_overview.html">Project Overview</a></li>
    <li><a href="hobby" target="_blank">Hobby</a></li>
  </ul>
</nav>