body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
  }
  
  header {
    background: #004466;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin: 0 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  nav a:visited {
    color: white;
    text-decoration: none;
  }
  main {
    padding: 2em;
  }
  .center{
    text-align: center;
  }
  img{
    display: block;
    margin: auto;
  }
  .justified{
    text-align: justify;
  }
  ul li{
    padding: 5px 0;
  }
  .italicized{
    font-style: italic;
  }
  a {
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  nav a:hover{
    color: #fbc100;
    transform: scale(1.1);
  }
  h4 a:hover{
    color: #0057a9;
    transform: scale(1.1);
  }
  .front-home{
    background-color: #efebe2;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .contract{
    background-color: #e6dcc3;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .kame-house{
    width: 500px;
    height: auto;
    transition: transform 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .kame-house:hover{
    transform: scale(1.05);
  }
  .abajo-home{
    padding-top: 20px;
  }

  .front-introduction{
    background-color: #efebe2;
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .foto-diego{
    transition: transform 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
   .foto-diego:hover{
    transform: scale(1.05);
   }
  .title-letter{
    transition: transform 0.2s ease;
    display: inline-block;
  }
  .title-letter:hover{
    color: #fbc100;
    transform: scale(1.1);
  }
  a{
    color: #5471d9;
  }
  a:visited{
    color: #233989;
  }
  